  <div class="navbar nav-icon">
    <%= link_to root_path do  %>
    <%= image_tag "orange-home-icon.png",  alt: "home-icon" %>
    <% end %>
    <%= link_to barcode_scanner_path do  %>
    <%= image_tag "orange-bar-code.png", alt: "scan-icon" %>
    <% end %>
  </div>
