<div class="home-find-btn">
  <%= form_tag beers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "input-box",
      placeholder: "search"
    %>
    <%= submit_tag "go", class: "hidden-search" %>
  <% end %>
    <%= image_tag "white-search-icon.png", alt: "find", class: "search-icon" %>
</div>


