


<!-- <form action="">
  <input class="input-box" placeholder="beer's name" type="text" name="fname"><br>
</form> -->

<!-- <div>
  <a class="btn-hp-scan-share" href="#">scan bar code</a>
  <a class="btn-hp-scan-share" href="#">search</a>
</div> -->
