 <div class='row rowly'>
    <div class="barcode-wrapper">
      <div id='barcode-scanner'></div>
      <div> <%= link_to "", root_path, class: "fas fa-angle-double-left go-back" %></div>
    </div>
 </div>


<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "barcode-scan" %>
<% end %>


