<div class="navbar">
  <%= link_to root_path do %>
    <div class="nav-icon">
      <%= image_tag "wine-scan-code-icon.png", alt: "barcode" %>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div class="nav-icon">
      <%= image_tag "wine_home_icon.png", alt: "home" %>
    </div>
  <% end %>
</div>

<!-- <div class="header">
</div> -->

<!-- <form action="">
  <input class="input-box" placeholder="beer's name" type="text" name="fname"><br>
</form> -->

<!-- <div>
  <a class="btn-hp-scan-share" href="#">scan bar code</a>
  <a class="btn-hp-scan-share" href="#">search</a>
</div> -->
