<head>
 <meta http-equiv="refresh" content="2.5 ;url=<%= home_path %>">
</head>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <%= image_tag "logo-tagline-orange.png", alt: "alttext", class: 'loading-page-logo' %>
</div>
