<div class="back-img" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1533922922960-9fceb9ef4733?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="header">
  </div>
  <div class="navbar nav-icon">
    <%= image_tag "wine-home-icon", alt: "home-icon" %>
    <%= image_tag "wine-scan-code-icon", alt: "scan-icon" %>
  </div>
</div>
