.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 110px;
  height: 15px;
  color: white;
  background-color: $my-orange;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 5px;
  font-family: $button-font;
  margin-left: 110px;
  margin-top: -33px;

}

.card-btn:hover {
  text-decoration: none;
  color: white;
}

