.card-index-container {
  background-image: asset-url("store.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 48px;
}
