.btn-hp-scan-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 319px;
  height: 74px;
  color: white;
  background-color: $my-orange;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 5px;
  font-family: $button-font;
}

#home-search-btn {
  border: none;
  padding-top: 15px;
}

.btn-hp-scan-search:hover {
  text-decoration: none;
  color: white;
}

.home-find-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  width: 296px;
  height: 68px;
  color: white;
  background-color: rgba(250,143,17,0.65);
  border-radius: 5px;
  margin-bottom: 100px;

}

.home-find-btn-index {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  width: 296px;
  height: 68px;
  color: white;
  background-color: rgba(250,143,17,0.65);
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 90px;
}

.home-find-btn:hover {
  text-decoration: none;
  color: white;
}

.search-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  margin-top: 4px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
