.btn-hp-scan-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 319px;
  height: 74px;
  color: white;
  background-color: $my-red;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 5px;
  font-family: $button-font;
}

#home-search-btn {
  border: none;
  padding-top: 15px;
}

.btn-hp-scan-search:hover {
  text-decoration: none;
  color: white;
}
