.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 28px;
  width: 319px;
  height: 74px;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  opacity: 0.7;
  border-radius: 5px;
  &:focus, input:focus{
    outline: none;
}
}
