.card-show-white-box {
  height: 1200px;
  width: 319px;
  border-radius: 5px;
  background-color: white;
}

.main-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: $my-orange;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.card-new-title {
  width: 170px;
  margin-left: 20px;
  margin-top: 10px;
}

.blidding-brown-card {
  background-color: #d8b096;
  width: 159px;
  height: 240px;
  margin-left: 160px;
  margin-bottom: -240px;
  border-radius: 5px;
}

img.beer-size {
  height: 400px;
  margin-top: 20px;
  margin-left: 26px;
}

img.size-rate-icon {
  width: 43px;
  height: 43px;
  margin-top: 10px;
  margin-right: -30px;
  margin-left: 10px;
}

.beer-description-card {
  width: 100px;
  height: 200px;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
}






#show-wrapper {
  text-align: center;
  margin: 10px 20px 48px 20px;
  border-radius: 8px;
  border: 1px solid $beige;

    .card-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    border-radius: 8px;
    width: 75%;
    height: 30vh;
    background-color: $brown;
      .show-card-image {
        border-radius: 8px;
      }
      .show-card-image-glass{
        max-width: 60%;
        margin-left: 20%;
      }
    }
    .show-card-list {
     text-align: left;
     padding-left: 13%;
     list-style: none;
     margin-top: 3%;
     font-size: 20px;
     margin-bottom: 15%;
     font-family: $body-font;
     padding-right: 13%;
    }
    .card-content{
      margin-top: 5%;
    }
    .show-photo-description-container {
      text-align: center;
    }
    .card-image {
      text-align:left;
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 20px;

    }
}

.card-title {
  margin: 12%;
  font-family: $headers-font;
  font-size: 40px;
  display: flex;
  align-content: flex-start;


  }

  span.card-title {
    line-height: 40px;
  }

.carousel-item img {
  height: 200px;
  object-cover: fit;
}

// @keyframes border-pulsate {
//     0%  { border-color: rgba(247, 202, 24, 1); }
//     100% { border-color: rgba(0, 255, 255, 0); }
// }
