#show-wrapper {
  text-align: center;
  margin: 10px 20px 48px 20px;
  border-radius: 8px;
  border: 1px solid $beige;

    .card-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    border-radius: 8px;
    width: 75%;
    height: 30vh;
    background-color: $brown;
      .show-card-image {
        border-radius: 8px;
      }
      .show-card-image-glass{
        max-width: 60%;
        margin-left: 20%;
      }
    }
    .show-card-list {
     text-align: left;
     padding-left: 13%;
     list-style: none;
     margin-top: 3%;
     font-size: 20px;
     margin-bottom: 15%;
     font-family: $body-font;
    }
    .card-content{
      margin-top: 5%;
    }
    .show-photo-description-container {
      text-align: center;
    }
    .card-image {
      text-align:left;
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 20px;

    }
}

.card-title {
  margin: 12%;
  font-family: $headers-font;
  font-size: 40px;
  display: flex;
  align-content: flex-start;


  }

  span.card-title {
    line-height: 40px;
  }

.carousel-item img {
  height: 200px;
  object-cover: fit;
}

// @keyframes border-pulsate {
//     0%  { border-color: rgba(247, 202, 24, 1); }
//     100% { border-color: rgba(0, 255, 255, 0); }
// }
